// Base CodeMirror styles
@import "../../node_modules/codemirror/lib/codemirror.css"

// Import CodeMirror themes
@import "../../node_modules/codemirror/theme/seti.css"
@import "../../node_modules/codemirror/theme/material.css"
@import "../../node_modules/codemirror/theme/mbo.css"
@import "../../node_modules/codemirror/theme/tomorrow-night-bright.css"
@import "../../node_modules/codemirror/theme/base16-dark.css"
@import "../../node_modules/codemirror/theme/mdn-like.css"
@import "../../node_modules/codemirror/theme/tomorrow-night-eighties.css"
@import "../../node_modules/codemirror/theme/base16-light.css"
@import "../../node_modules/codemirror/theme/midnight.css"
@import "../../node_modules/codemirror/theme/ttcn.css"
@import "../../node_modules/codemirror/theme/blackboard.css"
@import "../../node_modules/codemirror/theme/monokai.css"
@import "../../node_modules/codemirror/theme/twilight.css"
@import "../../node_modules/codemirror/theme/neo.css"
@import "../../node_modules/codemirror/theme/xq-dark.css"
@import "../../node_modules/codemirror/theme/dracula.css"
@import "../../node_modules/codemirror/theme/night.css"
@import "../../node_modules/codemirror/theme/paraiso-dark.css"
@import "../../node_modules/codemirror/theme/zenburn.css"
@import "../../node_modules/codemirror/theme/pastel-on-dark.css"

@font-face
  font-family "Roboto"
  src url("../fonts/Roboto/Roboto-Regular.ttf")

@font-face
  font-family "Roboto Mono"
  src url("../fonts/Roboto_Mono/RobotoMono-Regular.ttf")

@font-face
  font-family "Roboto Mono"
  font-weight bold
  src url("../fonts/Roboto_Mono/RobotoMono-Bold.ttf")

@font-face
  font-family "Roboto Mono"
  font-style italic
  src url("../fonts/Roboto_Mono/RobotoMono-Italic.ttf")

html
  font-size 10px

body
  background #9a988d
  color #292929
  font-family 'Roboto', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif

@import "octicons"
@import "layout"
@import "tree"
@import "workspace"
@import "tab_bar"
@import "editor"
@import "preview"
