// Base CodeMirror styles
@import "../../node_modules/codemirror/lib/codemirror.css"

@font-face
  font-family "Roboto"
  src url("../fonts/Roboto/Roboto-Regular.ttf")

@font-face
  font-family "Roboto"
  font-weight bold
  src url("../fonts/Roboto/Roboto-Bold.ttf")

@font-face
  font-family "Roboto Mono"
  src url("../fonts/Roboto_Mono/RobotoMono-Regular.ttf")

@font-face
  font-family "Roboto Mono"
  font-weight bold
  src url("../fonts/Roboto_Mono/RobotoMono-Bold.ttf")

@font-face
  font-family "Roboto Mono"
  font-style italic
  src url("../fonts/Roboto_Mono/RobotoMono-Italic.ttf")

html
  font-size 10px

body
  background #9a988d
  color #292929
  font-family 'Roboto', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif

@import "octicons"
@import "layout"
@import "tree"
@import "workspace"
@import "tab_bar"
@import "editor"
@import "preview"
@import "overlay"
@import "pref_panel"
