color_highlight       = #5B87C2

color_app-background  = #9A988D

color_tree-text       = #292929
color_tree-background = #88867C

color_tab-background  = #525252
color_tab-text        = #FFFFFF
color_tab-active      = #5B87C2

color_overlay-background = #1B1D1F
color_overlay-text       = #C5C8C6
