.c-editor
  height 100%

.CodeMirror
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  height auto
  padding 0 5px
  font 16px/20px "Roboto Mono"

@import "editor_dark"
@import "editor_light"
