
visible-color    = #c5c8c6
dimmed-color     = #999b99
hidden-color     = #4b5056
background-color = #1b1d1f
cursor-color     = dimmed-color

.cm-s-downquark-dark
  background-color background-color
  color visible-color

  .CodeMirror-cursor
    border-left 1px solid cursor-color

  .CodeMirror-selected
    background-color rgba(#fff, .05)

  .CodeMirror-focused div.CodeMirror-selected
    background-color rgba(#fff, 0.1)

  .cm-atom,
  .cm-url,
  .cm-comment
    color dimmed-color

  .cm-formatting,
  .cm-hr,
  .cm-tag,
  .cm-front-matter-delim
    color hidden-color

  .cm-front-matter::after
    content " "
    position  absolute
    left 0
    right 0
    border-left 2px solid hidden-color
    border-right 2px solid hidden-color

  .cm-front-matter-delim::after
    content " "
    position absolute
    left 0
    right 0
    border-bottom 1px solid hidden-color

  .cm-front-matter-delim-open::before
    content "⬇ Front matter";
    position absolute
    right 0
    margin-top 2px
    padding-right 5px
    color dimmed-color
    text-transform uppercase
    font-size 0.8em

  .cm-front-matter-delim-close::after
    border-top 1px solid hidden-color
    border-bottom none
