visible-color    = #5a5a59
dimmed-color     = #999b99
hidden-color     = #dfdfdf
background-color = #f5f5f5
cursor-color     = dimmed-color

.cm-s-downquark-light
  background-color background-color
  color visible-color

  .CodeMirror-cursor
    border-left 1px solid cursor-color

  .CodeMirror-selected
    background-color rgba(#000, .2)

  .CodeMirror-focused div.CodeMirror-selected
    background-color rgba(#fff, 0.1)

  .cm-atom,
  .cm-url,
  .cm-comment
    color dimmed-color

  .cm-formatting,
  .cm-hr,
  .cm-tag,
  .cm-front-matter-delim
    color hidden-color

  .cm-front-matter::after
    content " "
    position  absolute
    left 0
    right 0
    border-left 2px solid hidden-color
    border-right 2px solid hidden-color

  .cm-front-matter-delim::after
    content " "
    position absolute
    left 0
    right 0
    padding-right 5px
    color dimmed-color
    border-bottom 1px solid hidden-color
    text-transform uppercase
    text-align right
    font-size 0.8em

  .cm-front-matter-delim-close::after
    content: "⬆ Front matter";
    border-top 1px solid hidden-color
    border-bottom none
