.c-pref-panel
  max-width 800px
  min-width 500px
  color #c5c8c6
  -webkit-font-smoothing antialiased

  h1
    font-size 30px
    font-weight normal
    padding-bottom 10px
    border-bottom 2px solid #c5c8c6

    i::before
      font-size 32px
      margin-right 10px

  h2
    font-weight bold
    font-size 18px

    i::before
      margin-right 10px

  label
    display block
    margin-bottom 20px
    font-size 16px

  input
    display block
    box-sizing border-box
    width 100%
    max-width 300px
    padding 5px
    margin-top 5px
    border none
    border-radius 2px
    font-size 16px
    font-family inherit
    outline none

  button
    font-size 15px
    font-weight bold
    text-transform uppercase
    border none
    border-radius 2px
    background #c5c8c6
    outline none

    &:hover,
    &:focus
      background white

.o-user-card
  position relative
  min-height 40px
  margin 20px 0
  padding-left 50px

.o-user-card__name
  margin 0
  font-size 16px

.o-user-card__username
  margin 0
  font-size 14px

.o-user-card__avatar
  position absolute
  left 0
  top 0
  width 40px
  height 40px
