.c-status-bar
  position relative
  z-index 4
  padding 10px
  font-size 1.4rem
  background-color color_status-bar-background
  -webkit-user-select none

@keyframes waiting
  from
    background-position 0 0
  to
    background-position 32px 32px

.c-status-bar__working-indicator
  display none
  margin-left 10px
  padding 6px
  border-radius 2px
  animation waiting 2s linear infinite
  background-size 16px 16px
  background-image linear-gradient(
    -45deg,
    rgba(black, .1) 25%,
    transparent     25%,
    transparent     50%,
    rgba(black, .1) 50%,
    rgba(black, .1) 75%,
    transparent     75%,
    transparent     100%
  )

  .c-status-bar--working &
    display inline


// Branch selector

.c-branch-selector
  position relative
  display inline-block
  margin-left 10px

.c-branch-selector__current
  padding 6px
  border-radius 2px
  background-color white
  cursor pointer

.c-branch-selector__icon
  margin-left 5px

.c-branch-selector--open .c-branch-selector__icon--closed
  display none

.c-branch-selector__icon--open
  display none

  .c-branch-selector--open &
    display inline-block

.c-branch-selector__branch-list-container
  position absolute
  display none
  top 30px
  width 300px
  max-height 400px
  overflow-y auto
  background-color white
  border-radius 2px
  box-shadow 0 1px 10px rgba(0,0,0,.3)

  .c-branch-selector--open &
    display block

.c-branch-selector__branch-list
  list-style none
  margin 0
  padding 0

.c-branch-selector__branch-list-item
  position relative
  padding 6px
  border-top 1px solid #d5d5d5
  cursor pointer

  &:hover
    background-color #EFEDE5

  &:first-child
    border-top none

.c-branch-selector__current-icon
  display none
  position absolute
  top 5px
  right 5px

.c-branch-selector__branch-list-item--current
  padding-right 26px
  cursor default

  .c-branch-selector__current-icon
    display block
