@font-face
  font-family "Roboto"
  src url("../fonts/Roboto/Roboto-Regular.ttf")

@font-face
  font-family "Roboto"
  font-weight bold
  src url("../fonts/Roboto/Roboto-Bold.ttf")

@font-face
  font-family "Roboto"
  font-style italic
  src url("../fonts/Roboto/Roboto-Italic.ttf")

@font-face
  font-family "Roboto Mono"
  src url("../fonts/Roboto_Mono/RobotoMono-Regular.ttf")

@font-face
  font-family "Roboto Mono"
  font-weight bold
  src url("../fonts/Roboto_Mono/RobotoMono-Bold.ttf")

@font-face
  font-family "Roboto Mono"
  font-style italic
  src url("../fonts/Roboto_Mono/RobotoMono-Italic.ttf")

html
  font-size 10px

body
  font-family "Roboto", sans-serif
