.c-workspace
  position relative
  z-index 1

.c-workspace__item-list
  position relative

.c-workspace__item
  position absolute
  z-index 1
  width 100%
  height auto
  top 0
  bottom 0

.c-workspace__item--active
  z-index 2
