html
  font-size 10px

body
  background #9a988d
  color #292929
  font-family 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif
  -webkit-font-smoothing antialiased

@import "octicons"
@import "layout"
@import "tree"
@import "workspace"
