.c-editors
  position relative

.c-editor
  position absolute
  z-index 1
  width 100%
  height auto
  top 0
  bottom 0

.c-editor--active
  z-index 2

.c-editor__container
  position relative
  width 50%

.c-editor__preview
  background-color #fff
  width 50%

.CodeMirror
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  height auto
  padding 10px
  font 16px/20px Source Code Pro
  -webkit-font-smoothing auto
