.c-preview-panel
  position relative
  width 760px


.c-preview-panel__content
  box-sizing border-box
  position absolute
  top 0
  bottom 0
  width 100%
  overflow auto
  padding 20px
  background-color #fff
  color #535353
  font-family Arial, sans-serif
  font-size 14px
  line-height 20px

  h2
    margin 36px 0 20px 0
    font-size 20px
    line-height 20px
    font-weight 400

    &:first-child
      margin-top 0

  h3
    margin 0 0 20px 0
    font-size 18px
    line-height 20px
    font-weight 500

  hr
    display none

  a
    color #00827F
    text-decoration none

    &:hover
      text-decoration underline

  p, ul, ol
    margin 0 0 20px 0

  ul, ol
    padding-left 34px

  img
    display block
    max-width 100%


.c-preview-panel__resize-handle
  position absolute
  top 0
  bottom 0
  left 0
  width 5px
  cursor col-resize
