/**
 * The tree component is a nested tree view of the currently open content
 * folder. Tree nodes come in two types: files and folders. Folders can be
 * collapsed and expanded. Both node types can be selected.
 *
 * The tree view uses the full page height and has a variable width. Resizing
 * happens when dragging an invisible resize handle.
 */

.c-tree
  flex 0 1 auto
  position relative
  // Position it above so that the resizer handle is on top
  z-index 2
  height 100%
  width 300px
  // Set min and max widths for restricting the resizing
  min-width 200px
  max-width 50%
  background-color #88867C
  font-size 1.3rem
  line-height 2.6rem
  -webkit-user-select none


// This is an invisible handle for resizing the tree panel

.c-tree__resize-handle
  position absolute
  top 0
  bottom 0
  right -5px
  width 5px
  cursor col-resize


// The scroller contains the tree itself. We position it absolutely in
// the tree component with automatic overflow to enable scrolling.

.c-tree__scroller
  overflow auto
  position absolute
  top 0
  right 0
  bottom 0
  left 0


// Node lists are collapsed by default. A node list is expanded when its
// direct node parent has the 'c-tree__node--expanded' modifier class.

.c-tree__node-list
  // The selected node 'overlay' is positioned relatively to this
  position relative
  // This, combined with 'nowrap' on node labels, ensures that
  // the tree scrolls horizontally
  min-width -webkit-min-content
  margin 0
  padding 10px
  list-style none

  // Collapse child node lists
  .c-tree__node-list
    position static
    display none
    min-width 0
    padding 0

  .c-tree__node--expanded > &
    display block


// Each node in the tree contains a label and an optional node list

.c-tree__node
  white-space nowrap

  .c-tree__node
    padding-left 20px

// This is an 'underlay' for highligting the currently selected node
.c-tree__node--selected::before
  content ""
  position absolute
  left 0
  right 0
  height 2.6rem
  background-color rgba(255,255,255,.5)


// The node label contains the node's name and icon

.c-tree__node-label
  // Position relatively so it shows on top of selected underlay
  position relative
  display block
  cursor default

  // Size the node icon
  &::before
    width 16px
    margin-right 8px
