.c-preview-panel
  position relative
  width 50%
  border-left 1px solid color_tree-background


.c-preview-panel__content
  box-sizing border-box
  position absolute
  top 0
  bottom 0
  width 100%
  overflow auto
  padding 20px
  background-color #fff
  color #535353
  font-family Roboto, sans-serif
  font-size 18px
  line-height 30px
  -webkit-font-smoothing antialiased

  :first-child
    margin-top 0

  h2
    margin 40px 0 20px
    font-size 24px
    font-weight bold
    line-height 1.2

  h3
    font-weight bold
    font-size 18px

  p, ul, ol
    margin 20px 0

    &:first-child
      margin-top 0

  code
    padding 4px 5px
    font-family "Roboto Mono"
    font-size 14px
    background-color lighten(#292929, 80%)
    border-radius 2px
    -webkit-font-smoothing subpixel-antialiased

  pre code
    display block
    overflow-x auto
    margin 0
    padding 5px 10px
    background #3f3f3f
    border-radius 2px
    color #dcdcdc
    line-height 22px

  blockquote
    margin-left 0
    padding 5px 30px
    border-left 1px dotted lighten(#292929, 50%)

    p
      margin 0
      font-style italic
      color lighten(#292929, 50%)

  hr
    display none

  a
    color #2B7EC5
    border-bottom 1px dotted #2B7EC5
    text-decoration none
    pointer-events none

  img
    display block
    max-width 100%


.c-preview-panel__resize-handle
  position absolute
  top 0
  bottom 0
  left 0
  width 5px
  cursor col-resize
