.c-status-bar
  position relative
  z-index 4
  padding 10px
  font-size 1.4rem
  background-color color_status-bar-background
  -webkit-user-select none

@keyframes waiting
  from
    background-position 0 0
  to
    background-position 32px 32px

.c-status-bar__working-indicator
  display none
  margin-left 10px
  padding 6px
  border-radius 2px
  animation waiting 2s linear infinite
  background-size 16px 16px
  background-image linear-gradient(
    -45deg,
    rgba(black, .1) 25%,
    transparent     25%,
    transparent     50%,
    rgba(black, .1) 50%,
    rgba(black, .1) 75%,
    transparent     75%,
    transparent     100%
  )

  .c-status-bar--working &
    display inline


// Branch selector

.c-branch-selector
  position relative
  display inline-block
  margin-left 10px

.c-branch-selector__current
  padding 6px
  border-radius 2px
  background-color white
  cursor pointer

.c-branch-selector__icon
  margin-left 5px

.c-branch-selector--open .c-branch-selector__icon--closed
  display none

.c-branch-selector__icon--open
  display none

  .c-branch-selector--open &
    display inline-block

.c-branch-selector__menu
  position absolute
  display none
  top 40px
  width 300px
  background-color white
  border-radius 2px
  box-shadow 0 1px 10px rgba(0,0,0,.3)

  &::before
    content ""
    position absolute
    top -10px
    left 20px
    height 0
    width 0
    border-style solid
    border-color transparent
    border-bottom-color #e2e2e2
    border-width 0 10px 10px 10px

  .c-branch-selector--open &
    display block

.c-branch-selector__scroller
  max-height 300px
  overflow-y auto

.c-branch-selector__list
  position relative
  list-style none
  margin 0
  padding 0

.c-branch-selector__item
  padding 8px 9px
  border-top 1px solid #d5d5d5
  cursor pointer

  &:hover,
  &.c-branch-selector__item--selected
    background-color #EFEDE5

  &:first-child
    border-top none

.c-branch-selector__current-icon
  display none
  position absolute
  margin-top -15px
  right 5px

.c-branch-selector__item--current
  padding-right 26px
  cursor default

  .c-branch-selector__current-icon
    display block

.c-branch-selector__filter
  padding 4px
  border-radius 2px 2px 0 0
  background-color #e2e2e2

  input
    box-sizing border-box
    width 100%
    border 1px solid #a0a0a0
    border-radius 2px
    padding 4px
    outline none
    font-size inherit
    font-family inherit
